
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blog-primary: #16423c;
  --blog-secondary: #6a9c89;
  --blog-accent: #c4dad2;
  --blog-highlight: #e9efec;
  --blog-text: #2d3748;
}

body {
  font-family: 'Inter', sans-serif;
}

.font-archivo {
  font-family: 'Archivo', sans-serif;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

@keyframes radar {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(2.5); opacity: 0; }
}
.radar-circle {
  animation: radar 2s infinite ease-out;
}
